/*notes
Colors:
    red: #ff1345
    blue: #1abc9c
    white: #ecf0f1
*/


* {
    font-family: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background-color: #ecf0f1!important;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px !important;
    font-weight: bold !important;
}

h3 {
    color: #2c3e50;
}


/* Sections */

#section1 {
    padding-top: 10px;
}

#section1 img {
    height: auto;
    width: 10%;
    top: 10vh;
    margin-bottom: 5px;
}

#section1 h2 {
    color: #2c3e50 !important;
}

#section2 {
    width: 100%;
    padding: 0;
}

#section2 h2 {
    color: #00a79d !important;
}

#section2 p {
    text-align: justify;
}

#section4 {
    padding-top: 80px;
    margin-bottom: 80px;
}

#section4 .col-md-4 {
    padding: 0 15px 0 0;
}

#section4 .col-md-8 {
    padding: 0 0 0 15px;
}

#section4 h2 {
    color: #ef4136 !important;
}

/*portfolio*/

.portfolio-group h2 {
    color: #27aae1 !important;
}

.portfolio-piece {
}

.portfolio-piece h3 {
    text-align: center;
}

.portfolio-border {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

.portfolio-border.home {
    padding: 10px 10px 0 10px;
}

.portfolio-title {
    color: #2c3e50;
}

.portfolio-pic {
    background: transparent no-repeat;
    width: 100%;
    height: 200px;
    background-size: 100% auto;
    background-position: 50%;
    border-radius: 2px;
}

.portfolio-pic a:hover {
    opacity: .8;
}

.portfolio-placeholder {
    background: #fbfbfb;
    width: 100%;
    height: 100%;
    padding-top: 85px;
    margin: 0;
    text-align: center;
    color: #2c3e50 !important;
}

/*hover display*/

.hover-display {
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 2px;
}

.projects:hover, .graphicdesign:hover, .uidesign:hover, .illustration:hover, .photography:hover, .resources:hover {
    transition:         background-color .35s ease-in-out;
    -webkit-transition: background-color .35s ease-in-out;
    -moz-transition:    background-color .35s ease-in-out;
    -o-transition:      background-color .35s ease-in-out;
}

.projects:hover {
    background-color: rgba(73,134,137,.8) !important;
}

.graphicdesign:hover {
    background-color: rgba(32,205,94,.8) !important;
}

.uidesign:hover {
    background-color: rgba(84,187,234,.8) !important;
}

.illustration:hover {
    background-color: rgba(138,138,140,.8) !important;
}

.photography:hover {
    background-color: rgba(200,16,21,.8) !important;
}

.photography-group {
    margin-bottom: 100px;
}

.resources:hover {
    background-color: rgba(51,122,146,.8) !important;
}

.hover-display h3 {
    margin-top: 0 !important;
    font-weight: bold !important;
}

/*grid break*/
.break {
    margin-top: 30px;
}

.osx {
    background: url('/img/osx.jpg') #000000;
    background-attachment: fixed;
}

.blog-link {
    float: right;
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    background-color: #27aae1 !important;
}

.blog-link:hover {
    transition:         background-color .10s ease-in-out;
    -webkit-transition: background-color .10s ease-in-out;
    -moz-transition:    background-color .10s ease-in-out;
    -o-transition:      background-color .10s ease-in-out;
    background-color: #2980b9 !important;
}

.article h1 {
    margin-top: 100px;
}

.article h3 {
    color: #2c3e50;
    margin: 50px 0 10px;
}

.article img {
    margin-bottom: 50px;
}

.mockup {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.self {
    border-radius: 100%;
    width: 100%;
    height: auto;
}

.about-container {
    margin-top: 80px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #E8E8F2;
    padding: 15px;
    float: left;
}

.lightlink {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#lightbox {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    position: fixed !important;
    text-align: center;
    background-color: transparent !important;
}
#lightbox img {
    max-height: 91vh;
    width: auto;
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#lightboxDetails {
    width: auto !important;
}

#lightboxImage {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#lightboxCaption {
    float: initial !important;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
}

#closeButton {
    font-size: 17px;
}

.list-group-item {
    border-color: #e8e8e8 !important;
}
.list-group-item img {
    width: 25px;
    margin-right: 20px;
    padding-bottom: 1px;
}

.description {
    position: absolute;
    height: 0;
    bottom: 0;
    font-size: 0;
    width: 100%;
    overflow: hidden;
    transition:         background-color .20s ease-in-out, height .20s ease-in-out;
    -webkit-transition: background-color .20s ease-in-out, height .20s ease-in-out;
    -moz-transition:    background-color .20s ease-in-out, height .20s ease-in-out;
    -o-transition:      background-color .20s ease-in-out, height .20s ease-in-out;
}

.description.active {
    font-size: 14px;
    height: 50px;
    background-color: #ffffff;
}

#overlay {
    background-image: none;
    background-color: rgba(0,0,0,.8);
}

#keyboardMsg {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#twitter-widget-0 {
    width: 100% !important;
    height: 300px;
}

.breadcrumb {
    background-color: transparent !important;
}
