/*notes
Colors:
    red: #ff1345
    blue: #1abc9c
    white: #ecf0f1
*/



body {
     background-color: #ecf0f1!important;
}

p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .5px;
    /*text-align: justify;*/
}

h1 {
    text-align: center;
    color: #2c3e50 !important;
    margin-bottom: 25px !important;
    font-weight: bold !important;
}

h3 {
    color: #2c3e50;
}

section {
    background-color: #ecf0f1;
}

/* Sections */

#section1 {
    background-attachment: fixed;
    height: 20vh;
    max-height: 1200px;
    padding-top: 10px;
}

#section1 img {
    position: absolute;
    text-align: center;
    margin: auto;
    height: auto;
    width: 50%;
    right: 0;
    left: 0;
    top: 10vh;
}

#section1 h1 {
    position: absolute;
    text-align: center;
    margin: 80px auto 0;
    height: auto;
    color: #ffffff !important;
    right: 0;
    left: 0;
    font-weight: lighter !important;
}

#section1 h3 {
    position: absolute;
    text-align: center;
    margin: 150px auto 0;
    height: auto;
    color: #2c3e50;
    right: 0;
    left: 0;
    top: 10vh;
}


/*portfolio*/

.portfolio-group {
    margin-top: 150px;
    background-color: #ecf0f1;
}

.portfolio-piece {
    height: 250px;
}

.portfolio-piece h3 {
    text-align: center;
}

.portfolio-border {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.portfolio-title {
    color: #2c3e50;
}

.portfolio-pic {
    background: transparent no-repeat;
    width: 100%;
    height: 200px;
    background-size: 100% auto;
    background-position: 50%;
}

.portfolio-pic a:hover {
    opacity: .8;
}

.portfolio-placeholder {
    background: #fbfbfb;
    width: 100%;
    height: 100%;
    padding-top: 85px;
    margin: 0;
    text-align: center;
    color: #2c3e50 !important;
}

/*hover display*/

.hover-display {
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: transparent;
    padding: 10px;
}

.hover-display:hover {
    color: #ffffff;
}

.projects:hover {
    background-color: rgba(73,134,137,.8) !important;
}

.graphicdesign:hover {
    background-color: rgba(32,205,94,.8) !important;
}

.uidesign:hover {
    background-color: rgba(84,187,234,.8) !important;
}

.illustration:hover {
    background-color: rgba(138,138,140,.8) !important;
}

.photography:hover {
    background-color: rgba(200,16,21,.8) !important;
}

.resources:hover {
    background-color: rgba(51,122,146,.8) !important;
}
.hover-display h3 {
    margin-top: 0 !important;
    font-weight: bold !important;
}

/*grid break*/
.break {
    margin-top: 30px;
}

.osx {
    background: url('/img/osx.jpg') #000000;
    background-attachment: fixed;
}

.nav {
    color: #2c3e50;
    font-size: 22px;
    font-weight: 300 !important;
}

.nav:hover {
    text-decoration: underline;
}

.nav-section {
    min-width: 100px;
    float: left;
}

.nav-section:nth-child(2) {
    min-width: 200px;
}

.nav-stacked {
    height: 50px;
}

.dark a {
    color: #2c3e50 !important;
}

.nav-stacked a {
    color: #ffffff;
}

.nav-stacked .arrow {
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.arrow {
    width: 15px;
    height: 15px;
    float: left;
    border-right: 3px solid #2c3e50;
    border-bottom: 3px solid #2c3e50;
    transform:rotate(135deg);
    -ms-transform:rotate(135deg); /* IE 9 */
    -webkit-transform:rotate(135deg); /* Opera, Chrome, and Safari */
    margin-top: 7px;
    margin-right: 5px;
}

.dark>.nav>.arrow {
    border-bottom-color: #2c3e50 !important;
    border-right-color: #2c3e50 !important;
}
.article {
    margin-top: 150px;
}

.article h1 {
    margin-top: 100px;
}

.article h3 {
    color: #2c3e50;
    margin: 50px 0 10px;
}

.article img {
    margin-bottom: 50px;
}

.mockup {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.twitter-share-button {
    float: right;
    margin: 20px 0;
}

.fb-share-button {
    float: right;
    margin: 20px;
}

.lightlink {
    height: 100%;
    width: 100%;
}

#lightbox {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    position: fixed !important;
}
#lightbox img {
    max-height: 95vh;
    width: auto;
    max-width: 100%;
}

#lightboxDetails {
    width: auto !important;
}




@media only screen and (max-width: 600px) {
    #section1 img {
        width: 90%;
    }

    #diamond {
        width: 150px;
        height: 150px;
    }

}

@media only screen and (max-width: 990px) {
    #section2 button {
        position: relative;
        float: right;
    }
}